@import 'nib'
vendor-prefixes = o ms moz webkit official

/*************GLOBAL*************/
//Colores 
fondo 			= white//#E7E7E7
rosado 			= #d97c85
rosado_claro 	= #facabc
rosado_oscuro 	= #bb3951
verde 			= #7Fbb97
verde_footer	= #41815b
verde_claro 	= #b8eece
verde_oscuro 	= #395e4c
producto-nombre = #4e4949

//variables
logo_height = 142px
txtbuscar_height = 37px
//Funciones
display_inline(v = top)
	display inline-block
	vertical-align v
	zoom 1 /* Fix for IE7 */
	*display inline /* Fix for IE7 */	
		
//Estilo		
*
	outline none !important
body
	background-color fondo !important
#body
	h3
		height 52px
		text-align center
		margin-top 11.5px
header
	background-color rosado
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
.logo
	//text-align center
	max-width 1200px
	margin 0 auto
	img
		width 400px
nav
	box-shadow none !important
	margin 0 auto
	.container-fluid
		max-width 1200px
#container-buscar
	//forma bien hechiza de centrar el textbox con todo el input-group
	padding-top (logo_height / 2 - (txtbuscar_height / 2))
	#txtbuscar
		background-color fondo !important
		box-shadow 1px 1px 4px rgba(0, 0, 0, 0.4)
	select
		background-color fondo
		border-radius 3px
		box-shadow 1px 1px 4px rgba(0, 0, 0, 0.4)
		margin-right -1px
		width 120px
	.btn
		border 1px solid transparent !important
// .btn-primary
// 	background-color verde2 !important
.navbar-inverse
	background-color rosado_oscuro !important
	.navbar-collapse
	.navbar-form
		border-color rosado !important
	.navbar-nav
		li
			a
				color rosado_claro !important
				font-size 16px
				font-weight bold
		li.active
			a
				background-color rosado !important
		li.open
			a.dropdown-toggle
				background-color rosado !important
			ul
				li
					a
						color rosado !important
.navbar-brand
	color rosado_claro !important
.btn-carrito
	padding 0 !important
	img
		height 60px
.producto-container
	margin-bottom 23px
.producto
	// cursor pointer
	max-height 368.5px
	transition: all 0.2s ease-in-out;
	img
		border 1px solid #e7e7e7
		border-radius 2px
		padding 5px
		width 100%
		//height 255px
		//height 150px
	img.fixed-height
		height 178px
	img:hover
		opacity 0.6
	.producto-detalles
		padding 0 5px 0 5px
	.producto-nombre
		color producto-nombre
		font-size 20px
		height 44px
		max-height 44px
		margin 10px 0 10px 0
		overflow hidden
		width 100%
	.producto-descripcion
		color black
		font-size 14px
	.producto-descripcion-precio
		color black
		font-size 16px
		font-weight bolder
		text-shadow 1px 1px 1px #eee	
	.producto-precio
		background-color verde
		// opacity 0.8
		color white
		padding 2px 10px
		position absolute
		font-size 20px
		top 0
		right 15px
		z-index 1
.producto:hover
	// transform: scale(1.04);
footer
	background-color verde_footer
	color verde_claro
	font-size 16px
	margin-top 50px
	width 100%
	.footer-top
	.footer-bottom
		max-width 1200px
		margin 0 auto
	.footer-oscuro
		background-color verde_oscuro
		padding 15px
		margin 0
	h3
		color verde !important
	.footer-enlaces
		list-style none
	a
		color verde_claro !important
	a:hover
		color verde !important
	i
		font-size 50px !important
		padding 10px
	input[type=text]		
		color verde_claro !important
.vcenter
	display inline-block !important
	vertical-align middle !important
	float none !important
#vistos-recientes,#recomendaciones
	text-align center
	h4
		height 52px
	.reciente
		line-height 1.4	
		margin-bottom 20px
		text-align left
/****************************************/
/****************************************/

header
	#cambiar_idioma
		absolute top 5px right 10px
		color #ffffff
		a			
			color #ffffff
			display_inline(middle)
			padding 0 5px
	#header_cat,#txtbuscar
		padding 0 0 0 5px
	
		

/****************************************/
/****************************************/
@media (max-width: 991px)
	#container-buscar
		padding 0
	.producto
		max-height none
		img.fixed-height
			height auto
			max-height none 
			width 100%
@media (max-width: 750px)
	.producto
		max-height none
		img.fixed-height 
			height auto
			max-height none
			width 100%
// correcciones de estilo para laptop dell inspiron 14
@media (min-width: 1200px) and (max-width: 1500px)
	.producto
		.fixed-height
			height 140px !important
		.producto-detalles
			a.btn.btn-primary
				font-size 12px
				margin-left -5px
				padding 5px 10px
	#body
		h3
			margin-top 11.5px
			height 52px
	#vistos-recientes,#recomendaciones
		.reciente
			padding 0
			.producto
				padding 0
